#bga-help_buttons {
  position: fixed;
  bottom: 12px;
  left: 5px;
  display: flex;
  gap: 10px;
  z-index: 949;
  align-items: flex-end;
}

.bga-help_button {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 3px 5px 5px 0px rgb(0, 0, 0);
}

.bga-help_popin-button {
  --background: black;
  --color: white;
  font-weight: bold;
  font-size: 28pt;
  background: var(--background);
  color: var(--color);
}

.bga-help_expandable-button {
  overflow: hidden;
  background-size: contain;
  background-repeat: no-repeat;
  transition: width 0.5s, height 0.5s, border-radius 0.5s;
  display: grid;
  width: 50px;
  height: 50px;
  border-radius: 25px;
}

.bga-help_expandable-button .bga-help_folded-content {
  grid-row: 1;
  grid-column: 1;
  opacity: 1;
  width: 50px;
  height: 50px;
}

.bga-help_expandable-button .bga-help_unfolded-content {
  grid-row: 1;
  grid-column: 1;
  opacity: 0;
}

.bga-help_expandable-button[data-folded=false] {
  width: var(--expanded-width);
  height: var(--expanded-height);
  border-radius: var(--expanded-radius);
}

.bga-help_expandable-button[data-folded=false] .bga-help_folded-content {
  opacity: 0;
}

.bga-help_expandable-button[data-folded=false] .bga-help_unfolded-content {
  opacity: 1;
}

/* we show help button if user has no mouse ( = no tooltips) */
@media (hover: hover) {
  #bga-help_buttons {
    bottom: 5px;
  }
}
#popin_bgaHelpDialog_contents {
  max-width: 100vw;
  overflow-x: auto;
}

#popin_bgaHelpDialog {
  --background-color: white;
  background: var(--background-color);
  background-repeat: repeat;
  max-width: 100vw;
  max-height: 80vh;
  overflow: hidden;
}

#help-dialog-content {
  width: 520px;
  max-width: 35rem;
  max-height: calc(80vh - 80px);
  overflow: auto;
}

#bga-zoom-wrapper {
  position: relative;
}

#bga-zoom-wrapper .bga-zoom-inner {
  transform-origin: left top;
}

#bga-zoom-wrapper .bga-zoom-inner[data-smooth=true] {
  transition: transform 0.5s;
}

#bga-zoom-wrapper #bga-zoom-controls {
  position: absolute;
  top: 0;
}

#bga-zoom-wrapper #bga-zoom-controls[data-position=top-left] {
  left: 0;
}

#bga-zoom-wrapper #bga-zoom-controls[data-position=top-right] {
  right: 0;
}

#bga-zoom-wrapper #bga-zoom-controls button {
  border: 0;
}

#bga-zoom-wrapper #bga-zoom-controls button:not(.disabled) {
  cursor: pointer;
}

#bga-zoom-wrapper #bga-zoom-controls button.disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

#bga-zoom-wrapper #bga-zoom-controls .bga-zoom-out-icon {
  width: 40px;
  height: 40px;
  background: url('data:image/svg+xml;utf8,<svg width="100%" height="100%" viewBox="65 0 70 70" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;"><g><g transform="matrix(1,0,0,1,-4.97116,-76.2244)"><path d="M118,118C122.1,113.8 124.3,108.7 124.3,102.8C124.3,96.8 122.1,91.8 118,87.6C113.8,83.4 108.7,81.3 102.8,81.3C96.8,81.3 91.8,83.4 87.6,87.6C83.3,91.8 81.3,96.8 81.3,102.8C81.3,108.7 83.3,113.8 87.6,118C91.8,122.2 96.8,124.3 102.8,124.3C108.7,124.3 113.8,122.2 118,118" style="fill:none;fill-rule:nonzero;stroke:black;stroke-width:7px;"/></g><g transform="matrix(1,0,0,1,-4.97116,-76.2244)"><path d="M118,118L132.3,132.3" style="fill:none;fill-rule:nonzero;stroke:black;stroke-width:7px;"/></g><g transform="matrix(1,0,0,1,-4.97116,-76.2244)"><path d="M114.5,102.1L90.8,102.1" style="fill:none;fill-rule:nonzero;stroke:black;stroke-width:7px;"/></g></g></svg>');
}

#bga-zoom-wrapper #bga-zoom-controls .bga-zoom-in-icon {
  width: 40px;
  height: 40px;
  background: url('data:image/svg+xml;utf8,<svg width="100%" height="100%" viewBox="0 0 70 70" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;"><g><g transform="matrix(1,0,0,1,-7.91703,-76.2244)"><path d="M23.8,102.1L35.7,102.1" style="fill:none;fill-rule:nonzero;stroke:black;stroke-width:7px;"/></g><g transform="matrix(1,0,0,1,-7.91703,-76.2244)"><path d="M35.7,102.1L47.5,102.1" style="fill:none;fill-rule:nonzero;stroke:black;stroke-width:7px;"/></g><g transform="matrix(1,0,0,1,-7.91703,-76.2244)"><path d="M35.7,102.1L35.7,90.3" style="fill:none;fill-rule:nonzero;stroke:black;stroke-width:7px;"/></g><g transform="matrix(1,0,0,1,-7.91703,-76.2244)"><path d="M51,118C55.2,113.8 57.3,108.7 57.3,102.8C57.3,96.8 55.2,91.8 51,87.6C46.8,83.4 41.7,81.3 35.8,81.3C29.9,81.3 24.8,83.4 20.6,87.6C16.4,91.8 14.3,96.8 14.3,102.8C14.3,108.7 16.4,113.8 20.6,118C24.8,122.2 29.9,124.3 35.8,124.3C41.7,124.3 46.8,122.2 51,118" style="fill:none;fill-rule:nonzero;stroke:black;stroke-width:7px;"/></g><g transform="matrix(1,0,0,1,-7.91703,-76.2244)"><path d="M35.7,113.9L35.7,102.1" style="fill:none;fill-rule:nonzero;stroke:black;stroke-width:7px;"/></g><g transform="matrix(1,0,0,1,-7.91703,-76.2244)"><path d="M65.3,132.3L51,118" style="fill:none;fill-rule:nonzero;stroke:black;stroke-width:7px;"/></g></g></svg>');
}

#bga-zoom-wrapper #bga-zoom-controls[data-color=white] .bga-zoom-out-icon {
  width: 40px;
  height: 40px;
  background: url('data:image/svg+xml;utf8,<svg width="100%" height="100%" viewBox="65 0 70 70" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;"><g><g transform="matrix(1,0,0,1,-4.97116,-76.2244)"><path d="M118,118C122.1,113.8 124.3,108.7 124.3,102.8C124.3,96.8 122.1,91.8 118,87.6C113.8,83.4 108.7,81.3 102.8,81.3C96.8,81.3 91.8,83.4 87.6,87.6C83.3,91.8 81.3,96.8 81.3,102.8C81.3,108.7 83.3,113.8 87.6,118C91.8,122.2 96.8,124.3 102.8,124.3C108.7,124.3 113.8,122.2 118,118" style="fill:none;fill-rule:nonzero;stroke:white;stroke-width:7px;"/></g><g transform="matrix(1,0,0,1,-4.97116,-76.2244)"><path d="M118,118L132.3,132.3" style="fill:none;fill-rule:nonzero;stroke:white;stroke-width:7px;"/></g><g transform="matrix(1,0,0,1,-4.97116,-76.2244)"><path d="M114.5,102.1L90.8,102.1" style="fill:none;fill-rule:nonzero;stroke:white;stroke-width:7px;"/></g></g></svg>');
}

#bga-zoom-wrapper #bga-zoom-controls[data-color=white] .bga-zoom-in-icon {
  width: 40px;
  height: 40px;
  background: url('data:image/svg+xml;utf8,<svg width="100%" height="100%" viewBox="0 0 70 70" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;"><g><g transform="matrix(1,0,0,1,-7.91703,-76.2244)"><path d="M23.8,102.1L35.7,102.1" style="fill:none;fill-rule:nonzero;stroke:white;stroke-width:7px;"/></g><g transform="matrix(1,0,0,1,-7.91703,-76.2244)"><path d="M35.7,102.1L47.5,102.1" style="fill:none;fill-rule:nonzero;stroke:white;stroke-width:7px;"/></g><g transform="matrix(1,0,0,1,-7.91703,-76.2244)"><path d="M35.7,102.1L35.7,90.3" style="fill:none;fill-rule:nonzero;stroke:white;stroke-width:7px;"/></g><g transform="matrix(1,0,0,1,-7.91703,-76.2244)"><path d="M51,118C55.2,113.8 57.3,108.7 57.3,102.8C57.3,96.8 55.2,91.8 51,87.6C46.8,83.4 41.7,81.3 35.8,81.3C29.9,81.3 24.8,83.4 20.6,87.6C16.4,91.8 14.3,96.8 14.3,102.8C14.3,108.7 16.4,113.8 20.6,118C24.8,122.2 29.9,124.3 35.8,124.3C41.7,124.3 46.8,122.2 51,118" style="fill:none;fill-rule:nonzero;stroke:white;stroke-width:7px;"/></g><g transform="matrix(1,0,0,1,-7.91703,-76.2244)"><path d="M35.7,113.9L35.7,102.1" style="fill:none;fill-rule:nonzero;stroke:white;stroke-width:7px;"/></g><g transform="matrix(1,0,0,1,-7.91703,-76.2244)"><path d="M65.3,132.3L51,118" style="fill:none;fill-rule:nonzero;stroke:white;stroke-width:7px;"/></g></g></svg>');
}

:root {
  --bga-jump-to_eye-url: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20'%3E%3Ctitle%3E eye %3C/title%3E%3Cpath d='M10 7.5a2.5 2.5 0 1 0 2.5 2.5A2.5 2.5 0 0 0 10 7.5zm0 7a4.5 4.5 0 1 1 4.5-4.5 4.5 4.5 0 0 1-4.5 4.5zM10 3C3 3 0 10 0 10s3 7 10 7 10-7 10-7-3-7-10-7z'/%3E%3C/svg%3E%0A");
}

#bga-jump-to_controls {
  position: fixed;
  top: 50vh;
  z-index: 5;
  user-select: none;
}

#bga-jump-to_controls.folded .bga-jump-to_link:not(.toggle) {
  display: none;
}

#bga-jump-to_controls .bga-jump-to_link {
  position: relative;
  border-width: 2px;
  border-style: solid;
  border-color: var(--color);
  margin: 10px 0;
  width: fit-content;
  cursor: pointer;
  height: 22px;
  padding: 2px 5px;
  background: white;
  color: var(--color);
  display: flex;
  align-items: center;
  gap: 5px;
}

#bga-jump-to_controls .bga-jump-to_link .bga-jump-to_avatar {
  width: 20px;
  height: 20px;
  background-color: #fff;
  outline: 1px solid #6a6a6a;
  border-radius: 50%;
  background-image: var(--avatar-url);
  display: inline-block;
  background-size: cover;
}

#bga-jump-to_controls .bga-jump-to_link .bga-jump-to_label {
  background: var(--colorback);
}

#bga-jump-to_controls .bga-jump-to_link.round-point {
  border-radius: 0 11px 11px 0;
  padding-right: 11px;
}

#bga-jump-to_controls .bga-jump-to_link.hexa-point {
  border-right-width: 0;
}

#bga-jump-to_controls .bga-jump-to_link.hexa-point::before {
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left-width: 11px;
  border-left-style: solid;
  content: "";
  position: absolute;
  right: -11px;
  top: -2px;
}

#bga-jump-to_controls .bga-jump-to_link.hexa-point::after {
  width: 0;
  height: 0;
  border-top: 13px solid transparent;
  border-bottom: 13px solid transparent;
  border-left: 9px solid white;
  content: "";
  position: absolute;
  right: -9px;
  top: 0px;
}

#bga-jump-to_controls .bga-jump-to_link.triangle-point {
  border-right-width: 0;
}

#bga-jump-to_controls .bga-jump-to_link.triangle-point::before {
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left-width: 15px;
  border-left-style: solid;
  content: "";
  position: absolute;
  right: -15px;
  top: -2px;
}

#bga-jump-to_controls .bga-jump-to_link.triangle-point::after {
  width: 0;
  height: 0;
  border-top: 13px solid transparent;
  border-bottom: 13px solid transparent;
  border-left: 13px solid white;
  content: "";
  position: absolute;
  right: -13px;
  top: 0px;
}

#bga-jump-to_controls .bga-jump-to_link .eye {
  width: 20px;
  height: 20px;
  mask: var(--bga-jump-to_eye-url) no-repeat center/contain;
  -webkit-mask: var(--bga-jump-to_eye-url) no-repeat center/contain;
  background: black;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--color);
  display: inline-block;
  vertical-align: middle;
}

body > .card {
  position: absolute;
  left: -9999px;
  top: -9999px;
}

.card {
  flex-shrink: 0;
}

.card[data-side=back] .card-sides {
  transform: rotateY(180deg);
}

.card .card-sides {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform-style: preserve-3d;
  transition: transform 0.5s;
}

.card .card-sides .card-side {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  transform-origin: center center;
  box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.5);
  overflow: hidden;
}

.card .card-sides .card-side.front > * {
  pointer-events: none;
  user-select: none;
}

.card .card-sides .card-side.back {
  transform: rotateY(180deg);
}

.card .card-sides .card-side.back > * {
  pointer-events: none;
  user-select: none;
}

.card-stock .card.bga-cards_selectable-card:not(.bga-cards_disabled-card) {
  cursor: pointer;
}

.card-stock .card.bga-cards_disabled-card {
  cursor: not-allowed;
  filter: contrast(0.6);
}

.card-stock.line-stock {
  display: flex;
  gap: var(--gap);
  flex-wrap: var(--wrap);
  flex-direction: var(--direction);
}

.card-stock.line-stock[data-center=true] {
  justify-content: center;
}

.card-stock.slot-stock {
  display: flex;
  gap: var(--gap);
  flex-wrap: var(--wrap);
  flex-direction: var(--direction);
}

.card-stock.slot-stock[data-center=true] {
  justify-content: center;
}

.card-stock.scrollable-stock {
  display: flex;
  gap: var(--button-gap);
}

.card-stock.scrollable-stock[data-scrollbar-visible=false] {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.card-stock.scrollable-stock[data-scrollbar-visible=false]::-webkit-scrollbar {
  display: none;
}

.card-stock.scrollable-stock .scrollable-stock-inner {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  gap: var(--gap);
}

.card-stock.scrollable-stock .scrollable-stock-inner[data-center=true] {
  justify-content: center;
}

.card-stock.hand-stock {
  display: flex;
  justify-content: center;
}

.card-stock.hand-stock .card {
  transform: translateY(calc(var(--card-shift) * var(--hand-stock-middle-index-abs))) rotate(calc(var(--hand-stock-middle-index) * var(--card-inclination)));
}

.card-stock.hand-stock .card:not(:first-child) {
  margin-left: calc(-1 * var(--card-overlap));
}

.card-stock.manual-position-stock {
  position: relative;
}

.card-stock.manual-position-stock .card {
  position: absolute;
}

.card-stock.void-stock {
  position: relative;
}

.card-stock.void-stock .card {
  position: absolute;
}

.card-stock.deck {
  position: relative;
  width: var(--width);
  height: var(--height);
}

.card-stock.deck > .card {
  position: absolute;
  top: calc(var(--thickness) * var(--xShadowShift) * -1);
  left: calc(var(--thickness) * var(--yShadowShift) * -1);
}

.card-stock.deck > .card:first-child {
  box-shadow: calc(var(--thickness) * var(--xShadowShift)) calc(var(--thickness) * var(--yShadowShift)) 0px 0px #111, calc(var(--thickness) * var(--xShadowShift)) calc(var(--thickness) * var(--yShadowShift)) 2px 1px rgba(0, 0, 0, 0.5);
}

.card-stock.deck[data-empty=true] > .card {
  visibility: hidden;
}

.card-stock.deck[data-empty=true] .bga-cards_deck-counter.hide-when-empty {
  display: none;
}

.bga-cards_deck-counter {
  --bga-cards-deck-counter-size: 20px;
  position: absolute;
  z-index: 1;
  width: var(--bga-cards-deck-counter-size);
  height: var(--bga-cards-deck-counter-size);
  left: calc(var(--bga-cards-deck-left) - var(--bga-cards-deck-counter-size) / 2);
  top: calc(var(--bga-cards-deck-top) - var(--bga-cards-deck-counter-size) / 2);
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  pointer-events: none;
}

.bga-cards_deck-counter.round {
  color: black;
  background: white;
  border-radius: 50%;
  box-shadow: 0 0 2px 1px black;
  font-size: 14px;
}

.bga-cards_deck-counter.text-shadow {
  color: white;
  text-shadow: 0 0 1px black, 0 0 2px black, 0 0 3px black, 0 0 4px black;
  font-size: 20px;
}

.bga-cards_deck-counter.hidden {
  display: none;
}

.card-stock.all-visible-deck {
  position: absolute;
  --tile-count: 1;
  width: calc(var(--width) + var(--tile-count) * var(--shift));
  transition: height 0.5s ease-in-out, background-color 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
  opacity: var(--tile-count);
}

.card-stock.all-visible-deck > * {
  position: absolute;
  margin: 0;
  transition: left 0.5s ease-in-out, top 0.5s ease-in-out;
  top: calc(var(--shift) * var(--order));
  left: calc(var(--shift) * var(--order));
}

.card-stock.all-visible-deck:hover, .card-stock.all-visible-deck:active, .card-stock.all-visible-deck.opened {
  height: calc((var(--height) + var(--shift)) * var(--tile-count) - var(--shift));
  z-index: 1;
}

.card-stock.all-visible-deck:hover > *, .card-stock.all-visible-deck:active > *, .card-stock.all-visible-deck.opened > * {
  top: calc((var(--height) + var(--shift)) * var(--order));
}

.personal-card {
  position: relative;
  width: 225px;
  height: 362px; /*
width: 150px;
height: 241px; */
  /*width: 112px;
  height: 181px;*/
  border-radius: 8px;
  font-family: "calgary-script-ot", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.personal-card .card-sides .card-side {
  border-radius: 8px;
  background-image: url("img/personal-cards.jpg");
  background-size: auto 700%;
}
.personal-card .card-sides .card-side > * {
  pointer-events: all !important;
  user-select: none;
}
.personal-card .card-sides .card-side.back {
  background-position: 33.3333333333% 100%;
}
.personal-card .card-sides .card-side.front.stress {
  background-position: 0% 100%;
}
.personal-card .card-sides .card-side.front.heat {
  background-position: 16.6666666667% 100%;
}
.personal-card .card-sides .card-side.front:not(.stress):not(.heat) {
  background-position-y: var(--personal-card-background-y);
}
.personal-card .card-sides .card-side.front[data-col="0"] {
  background-position-x: 0%;
}
.personal-card .card-sides .card-side.front[data-col="1"] {
  background-position-x: 16.6666666667%;
}
.personal-card .card-sides .card-side.front[data-col="2"] {
  background-position-x: 33.3333333333%;
}
.personal-card .card-sides .card-side.front[data-col="3"] {
  background-position-x: 50%;
}
.personal-card .card-sides .card-side.front[data-col="4"] {
  background-position-x: 66.6666666667%;
}
.personal-card .card-sides .card-side.front[data-col="5"] {
  background-position-x: 83.3333333333%;
}
.personal-card .card-sides .card-side.front[data-col="6"] {
  background-position-x: 100%;
}
.personal-card .card-sides .card-side.front.upgrade-card {
  background-image: url("img/upgrade-cards.jpg");
  background-size: auto 500%;
}
.personal-card .card-sides .card-side.front.sponsor-card {
  background-image: url("img/sponsor-cards.jpg");
  background-size: auto 100%;
}
.personal-card .card-sides .card-side.front .text {
  position: absolute;
  left: 48px;
  right: 48px;
  text-align: center;
  color: #231f20;
  font-size: 32px;
  word-break: break-word;
  text-transform: uppercase;
}
.personal-card.bga-cards_selectable-card:not(.bga-cards_disabled-card):not(.bga-cards_selected-card) {
  animation: selectable-card-animation 1s alternate infinite ease-in-out;
}
.personal-card.bga-cards_selectable-card:not(.bga-cards_disabled-card) .card-side {
  box-shadow: unset;
}
.personal-card.bga-cards_selected-card:not(.bga-cards_disabled-card) {
  box-shadow: 0 0 5px 5px orange;
}
.personal-card.bga-cards_selected-card:not(.bga-cards_disabled-card) .card-side {
  box-shadow: unset;
}

@keyframes selectable-card-animation {
  0% {
    box-shadow: 0 0 3px 2px white;
  }
  100% {
    box-shadow: 0 0 5px 3px white;
  }
}
.legend-card {
  position: relative;
  width: 362px;
  height: 225px;
  border-radius: 8px;
}
.legend-card .card-sides .card-side {
  border-radius: 8px;
  background-image: url("img/legend-cards.jpg");
  background-size: 100% auto;
}
.legend-card .card-sides .card-side > * {
  pointer-events: all !important;
  user-select: none;
}
.legend-card .card-sides .card-side.front {
  background-position-y: 100%;
}
.legend-card .card-sides .card-side.front .table {
  position: absolute;
  top: 74px;
  bottom: 0;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 1fr;
  align-items: center;
  justify-items: center;
}
.legend-card .card-sides .card-side.front .legend-icon {
  width: 64px;
  height: 64px;
  background: url("img/legend-icons.png");
  background-size: 100% auto;
  background-position-y: calc(var(--color) * 20%);
  color: white;
  text-shadow: 0 0 1px black, 0 0 2px black, 0 0 3px black;
  text-align: center;
  font-size: 36px;
  line-height: 100px;
}

#table-center {
  display: flex;
  justify-content: center;
  transform-origin: top center;
}
#table-center #circuit {
  position: relative;
  width: 1650px;
  height: 1100px;
  min-width: 1650px;
  min-height: 1100px;
  background-size: cover;
  transform-origin: top center;
}

.car {
  position: absolute;
  left: -30.5px;
  top: -17px;
  width: 61.08px;
  height: 34px;
  background: url("img/cars.png");
  background-position-y: calc(var(--constructor-id) * 20%);
  background-size: 200% 600%;
  transform: translateX(var(--x)) translateY(var(--y)) rotate(var(--r));
  transform-origin: center center;
}
.car.with-transition {
  transition: transform var(--transition-time);
}
.car.current {
  background-position-x: 100%;
}

.eliminated-podium {
  position: absolute;
  left: calc(var(--x) + 20px);
  top: calc(var(--y) - 23px);
  font-size: 32px;
}

.map-indicator {
  position: absolute;
  left: -16px;
  top: -16px;
  width: 32px;
  height: 32px;
  background: url("img/cars.png");
  border-radius: 50%;
  background: white;
  box-shadow: 0 0 5px 5px white;
  transform: translateX(var(--x)) translateY(var(--y));
  transform-origin: top left;
  color: black;
  text-align: center;
  font-size: 26px;
  font-weight: bold;
  line-height: 32px;
  user-select: none;
}
.map-indicator.clickable {
  cursor: pointer;
}
.map-indicator.clickable.hover, .map-indicator.clickable:hover {
  background: yellow;
  box-shadow: 0 0 5px 5px yellow;
}
.map-indicator.stress {
  color: white;
  background: #6766a7;
  box-shadow: 0 0 5px 5px #6766a7;
}

.corner {
  --color: transparent;
  position: absolute;
  left: calc(var(--x) - 24px);
  top: calc(var(--y) - 24px);
  width: 48px;
  height: 48px;
  box-shadow: 0 0 5px 5px var(--color);
  border-radius: 50%;
}

.press-icon {
  position: absolute;
  left: calc(var(--x) + 16px);
  top: calc(var(--y) + 16px);
  width: 32px;
  height: 32px;
  font-size: 32px;
  color: #116193;
  text-shadow: 0 0 1px white, 0 0 2px white, 0 0 3px white, 0 0 4px white, 0 0 5px white;
}

.press-token {
  display: inline-block;
  width: 114px;
  height: 148px;
  background: url("img/press-token.png");
  background-size: contain;
}

.weather-card {
  position: absolute;
  left: var(--x);
  top: var(--y);
  width: 167px;
  height: 127.5px;
  box-shadow: 0 0 5px 5px white;
  border-radius: 8px;
  background-image: url("img/weather-cards.jpg");
  background-size: 100% auto;
}
.weather-card[data-card-type="0"] {
  background-position-y: 0%;
}
.weather-card[data-card-type="1"] {
  background-position-y: 20%;
}
.weather-card[data-card-type="2"] {
  background-position-y: 40%;
}
.weather-card[data-card-type="3"] {
  background-position-y: 60%;
}
.weather-card[data-card-type="4"] {
  background-position-y: 80%;
}
.weather-card[data-card-type="5"] {
  background-position-y: 100%;
}

.weather-token {
  position: absolute;
  left: calc(var(--x) - 30px);
  top: calc(var(--y) - 30px);
  width: 60px;
  height: 60px;
  box-shadow: 0 0 5px 5px white;
  border-radius: 8px;
  background-image: url("img/weather-tokens.jpg");
  background-size: 100% auto;
}
.weather-token[data-token-type="0"] {
  background-position-y: 0%;
}
.weather-token[data-token-type="1"] {
  background-position-y: 20%;
}
.weather-token[data-token-type="2"] {
  background-position-y: 40%;
}
.weather-token[data-token-type="3"] {
  background-position-y: 60%;
}
.weather-token[data-token-type="4"] {
  background-position-y: 80%;
}
.weather-token[data-token-type="5"] {
  background-position-y: 100%;
}

.player-board {
  background-color: white;
}
.player-board.spectator-mode {
  color: black;
}
.player-board.spectator-mode * {
  background: white !important;
}
.player-board.finished {
  background-color: lightgray;
}
.player-board.finished .order-counter {
  display: none;
}
.player-board .icon {
  margin-right: 5px;
}
.player-board .counters {
  display: flex;
  align-items: center;
  margin: 5px 0;
}
.player-board .counters > div {
  flex: 1;
}
.player-board .player-hand-card {
  display: inline-block;
  width: 32px;
  height: 32px;
  background-image: url("img/cards.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  vertical-align: middle;
}
.player-board .order-counter {
  width: 24px;
  height: 24px;
  border: 2px solid black;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.player-board .podium-counter {
  display: none;
}
.player-board .podium-counter.finished {
  display: initial;
}

.legend_avatar {
  background: url("img/legend-icons.png");
  background-size: 100% auto;
  background-position-y: calc(var(--constructor-id) * 20%);
}

.player-table {
  min-width: 640px;
  width: 100%;
  position: relative;
  background: rgba(255, 255, 255, 0.2);
  border: 2px solid var(--player-color);
  border-radius: 15px;
  margin: 5px;
  font-size: 16pt;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.player-table .name-wrapper {
  color: var(--player-color);
  position: relative;
  display: flex;
  padding: 5px;
  justify-content: center;
  align-items: center;
  font-size: 20pt;
}
.player-table .player-board {
  position: relative;
  width: 1200px;
  height: 793px;
  padding: 0;
  margin: 0;
  background-size: contain;
}
.player-table .player-board[data-color="12151a"] {
  background-image: url("img/mats/player-board-12151a.jpg");
}
.player-table .player-board[data-color="376bbe"] {
  background-image: url("img/mats/player-board-376bbe.jpg");
}
.player-table .player-board[data-color="26a54e"] {
  background-image: url("img/mats/player-board-26a54e.jpg");
}
.player-table .player-board[data-color=e52927] {
  background-image: url("img/mats/player-board-e52927.jpg");
}
.player-table .player-board[data-color="979797"] {
  background-image: url("img/mats/player-board-979797.jpg");
}
.player-table .player-board[data-color=face0d] {
  background-image: url("img/mats/player-board-face0d.jpg");
}
.player-table .player-board .bga-cards_deck-counter {
  --bga-cards-deck-counter-size: 40px;
}
.player-table .player-board .bga-cards_deck-counter.round {
  font-size: 22px;
}
.player-table .player-board .deck {
  position: absolute;
  left: 51px;
  top: 316px;
}
.player-table .player-board .engine {
  position: absolute;
  left: 407px;
  top: 316px;
}
.player-table .player-board .discard {
  position: absolute;
  left: 756px;
  top: 316px;
}
.player-table .player-board .gear {
  position: absolute;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  top: 198px;
  right: 52px;
  transition: top 0.5s;
  background-image: url("img/stick.png");
  background-size: auto 100%;
  box-shadow: 2px 2px 8px 5px black;
  /*&::after {
    content: '';
    position: absolute;
    left: 25px;
    right: 25px;
    top: 25px;
    bottom: 25px;
    border-radius: 50%;
    background: radial-gradient(circle at 39% 25%, #FFFFFFBB 2px, var(--player-color) 4%, #000000BB 100%);
    box-shadow: 2px 2px 8px 5px black;
  }*/
}
.player-table .player-board .gear[data-gear="4"] {
  top: 274px;
}
.player-table .player-board .gear[data-gear="3"] {
  top: 401px;
}
.player-table .player-board .gear[data-gear="2"] {
  top: 529px;
}
.player-table .player-board .gear[data-gear="1"] {
  top: 657px;
}
.player-table .player-board .gear[data-color="12151a"] {
  background-position-x: 0%;
}
.player-table .player-board .gear[data-color="376bbe"] {
  background-position-x: 20%;
}
.player-table .player-board .gear[data-color="26a54e"] {
  background-position-x: 40%;
}
.player-table .player-board .gear[data-color=e52927] {
  background-position-x: 60%;
}
.player-table .player-board .gear[data-color="979797"] {
  background-position-x: 80%;
}
.player-table .player-board .gear[data-color=face0d] {
  background-position-x: 100%;
}
.player-table .player-board .gear[data-color="12151a"] {
  box-shadow: 0px 0px 8px 10px white;
}
.player-table .inplay-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.player-table .inplay-wrapper .hand-wrapper {
  align-self: unset;
  padding: 0 10px 10px 10px;
}
.player-table .inplay-wrapper[data-visible=false] {
  display: none;
}
.player-table .block-label {
  text-shadow: 0 0 1px black, 0 0 2px black, 0 0 3px black, 0 0 4px black;
  text-align: center;
  padding: 5px;
  text-overflow: ellipsis;
}
.player-table .block-with-text {
  display: flex;
}
.player-table .block-with-text .block-label {
  writing-mode: vertical-lr;
  transform: rotate(180deg);
}
.player-table .block-with-text > div:not(.block-label) {
  flex: 1;
  min-height: 221px;
}
.player-table .hand-wrapper {
  margin: 5px;
  background: rgba(255, 255, 255, 0.5333333333);
  border-radius: 10px;
  align-self: stretch;
  margin-bottom: 10px;
}

#legend-table {
  min-width: 640px;
  width: 100%;
  position: relative;
  margin: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#legend-table #legend-board {
  position: relative;
  width: 1200px;
  height: 793px;
  padding: 0;
  margin: 0;
  background-size: contain;
  background-image: url("img/mats/legend.jpg");
}
#legend-table #legend-board .deck {
  position: absolute;
  left: 115px;
  top: 478px;
}
#legend-table #legend-board .discard {
  position: absolute;
  left: 729px;
  top: 478px;
}

#help-popin h1 {
  color: #5890a9;
  font-size: 18px;
  margin: 8px 0;
}
#help-popin .help-section {
  padding: 5px;
  margin: 3px 0;
  display: flex;
}
#help-popin .help-section > div:not(:first-child) {
  margin-left: 5px;
  flex: 1;
}

#circuit-dropzone-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #ddd;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
}
#circuit-dropzone-container.active #circuit-dropzone {
  border: dashed 3px dodgerblue;
}
#circuit-dropzone-container #circuit-dropzone {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  border: dashed 3px black;
  border-radius: 1rem;
  padding: 2rem;
}
#circuit-dropzone-container #circuit-dropzone svg {
  width: 100px;
}
#circuit-dropzone-container #circuit-dropzone [type=file] {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  white-space: nowrap;
  width: 1px;
}
#circuit-dropzone-container #circuit-dropzone [type=file] + label {
  margin-top: 1rem;
  background-color: #0d6efd;
  border-radius: 4rem;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  padding: 0.7rem 1rem;
  text-align: center;
  user-select: none;
  font-family: "Gunplay";
  font-size: 25px;
}
#circuit-dropzone-container #circuit-dropzone [type=file]:focus + label,
#circuit-dropzone-container #circuit-dropzone [type=file] + label:hover {
  background-color: #0a58ca;
  color: #fff;
}
#circuit-dropzone-container #circuit-dropzone [type=file]:focus + label {
  outline: 1px dotted #fff;
}
#circuit-dropzone-container #circuit-dropzone h5 {
  font-family: "Gunplay";
  font-size: 25px;
  margin-top: 30px;
}

/* make space between buttons on touch devices */
@media (hover: none) {
  #page-title .action-button.bgabutton, #page-title .bgabutton {
    margin-bottom: 8px;
    margin-top: 8px;
  }
}
html, .mode_3d #game_play_area_background {
  background: url("img/rules-background.jpg");
  background-size: 100% auto;
  background-repeat: repeat;
  background-position: top;
}

.icon {
  display: inline-block;
  width: 32px;
  height: 32px;
  background-image: url("img/icons.png");
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center;
  vertical-align: middle;
  font-size: 18px;
  line-height: 24px;
  color: white;
  text-shadow: 0 0 1px black, 0 0 2px black, 0 0 3px black;
  text-align: center;
}
.icon.flag {
  background-position-x: 0%;
}
.icon.engine {
  background-position-x: 7.1428571429%;
}
.icon.heat {
  background-position-x: 14.2857142857%;
}
.icon.cooldown {
  background-position-x: 21.4285714286%;
}
.icon.stress {
  background-position-x: 28.5714285714%;
}
.icon.boost {
  background-position-x: 35.7142857143%;
}
.icon.speed {
  background-position-x: 42.8571428571%;
}
.icon.podium {
  background-position-x: 50%;
}
.icon.reduce-stress {
  background-position-x: 57.1428571429%;
}
.icon.scrap {
  background-position-x: 64.2857142857%;
}
.icon.direct {
  background-position-x: 71.4285714286%;
}
.icon.adjust {
  background-position-x: 78.5714285714%;
}
.icon.forced-heat {
  background-position-x: 85.7142857143%;
}
.icon.refresh {
  background-position-x: 92.8571428571%;
}
.icon.salvage {
  background-position-x: 100%;
}

#market {
  margin: 10px;
}

.action-button .icon, .log .icon {
  width: 24px;
  height: 24px;
}

.dijitTooltipContents .icon {
  width: 20px;
  height: 20px;
}

#tables {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  flex-direction: column;
  padding-top: 32px;
}

.constructor-avatar {
  display: inline-block;
  width: 32px;
  height: 32px;
  vertical-align: middle;
}
.constructor-avatar.legend {
  background: url("img/legend-icons.png");
  background-size: 100% auto;
  background-position-y: calc(var(--constructor-id) * 20%);
}
.constructor-avatar.player {
  border-radius: 50%;
}

#logs .log.notif_newUndoableStep {
  margin-top: 0;
}
#logs .log.notif_newUndoableStep .roundedbox {
  background-color: #c4c2c2;
  cursor: pointer;
  font-size: 12px;
  padding: 2px 5px;
  text-align: center;
}
#logs .log.notif_newUndoableStep.selectable .roundedbox {
  display: block;
}

#logs .log.notif_newUndoableStep .roundedbox:after, #logs .log.notif_newUndoableStep .roundedbox:before {
  content: "\f0e2";
  font: normal normal normal 12px/1 FontAwesome;
  margin: 0 10px;
}

.chatwindowlogs_zone .log.notif_newUndoableStep {
  margin-bottom: -4px;
  padding: 0;
}
.chatwindowlogs_zone .log.notif_newUndoableStep.selectable {
  display: block !important;
}
.chatwindowlogs_zone .log.notif_newUndoableStep.selectable .roundedboxinner {
  background-color: #c4c2c2;
  cursor: pointer;
  font-size: 12px;
  padding: 2px 5px;
  text-align: center;
}

.chatwindowlogs_zone .log.notif_newUndoableStep.selectable .roundedboxinner:after, .chatwindowlogs_zone .log.notif_newUndoableStep.selectable .roundedboxinner:before {
  content: "\f0e2";
  font: normal normal normal 12px/1 FontAwesome;
  margin: 0 10px;
}

.chatwindowlogs_zone .log.notif_newUndoableStep.selectable .roundedboxinner .msgtime {
  display: none;
}

/* Cancelled notification messages */
.log.cancel {
  color: #c62828 !important;
  text-decoration: line-through;
}

/* Desktop logs */
.log.cancel .roundedbox {
  background-color: rgba(240, 186, 117, 0.6) !important;
}

/* Mobile logs */
.log.cancel.roundedbox {
  background-color: #ef9a9a;
}

.log-card-image {
  margin: 3px;
  display: flex;
  justify-content: center;
  max-height: 54px;
  overflow: hidden;
  vertical-align: middle;
}

#page-title .log-card-set {
  display: inline-block;
}
#page-title .log-card-set .log-card-image {
  display: inline-flex;
}
#page-title .log-card-set .log-card-image:not(:first-child) {
  margin-left: -168px;
}
