/* Error: It's not clear which file to import. Found:
 *   src\_table-center.scss
 *   src\table-center.scss
 *    ,
 * 19 | @import 'table-center';
 *    |         ^^^^^^^^^^^^^^
 *    '
 *   src\heat.scss 19:9  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: It's not clear which file to import. Found:\a   src\\_table-center.scss\a   src\\table-center.scss\a    \2577 \a 19 \2502  @import 'table-center';\a    \2502          ^^^^^^^^^^^^^^\a    \2575 \a   src\\heat.scss 19:9  root stylesheet";
}
