.personal-card {
    position: relative;
    width: 225px;
    height: 362px; /*
    width: 150px;
    height: 241px; */
    /*width: 112px;
    height: 181px;*/
    border-radius: 8px;
    font-family: "calgary-script-ot", sans-serif;
    font-weight: 400;
    font-style: normal;   

    .card-sides {
        .card-side {
            border-radius: 8px;
            background-image: url('img/personal-cards.jpg');  
            background-size: auto 700%; 

            &>* {
                pointer-events: all !important;
                user-select: none;
            }

            &.back {
                background-image: url('img/common-cards.jpg');  
                background-size: auto 100%; 
                background-position-x: 100%;
            }

            &.front {
                &.stress {
                    background-image: url('img/common-cards.jpg');  
                    background-size: auto 100%; 
                    background-position-x: 0%;
                }
                &.heat {
                    background-image: url('img/common-cards.jpg');  
                    background-size: auto 100%; 
                    background-position-x: 50%;
                }

                &:not(.stress):not(.heat) {
                    background-position-y: var(--personal-card-background-y);
                }

                @for $col from 0 through 6 {
                    &[data-col="#{$col}"]  {
                        background-position-x: #{$col * 100% / 6};
                    }
                }

                &.upgrade-card {        
                    background-image: url('img/upgrade-cards.jpg');  
                    background-size: auto 500%; 
                }

                &.sponsor-card {        
                    background-image: url('img/sponsor-cards.jpg');  
                    background-size: auto 100%; 
                }

                .text {
                    position: absolute;
                    left: 48px;
                    right: 48px;
                    text-align: center;
                    color: #231f20;
                    font-size: 32px;
                    word-break: break-word;
                    text-transform: uppercase;
                }
            }
        }
    }

    &.bga-cards_selectable-card:not(.bga-cards_disabled-card) {
        &:not(.bga-cards_selected-card) {
            animation: selectable-card-animation 1s alternate infinite ease-in-out;
        }

        .card-side {
            box-shadow: unset;
        }
    }    

    &.bga-cards_selected-card:not(.bga-cards_disabled-card) {
        box-shadow: 0 0 5px 5px orange;

        .card-side {
            box-shadow: unset;
        }
    } 

    &.planned-card {
        outline: 5px solid orange;

        .card-side {
            box-shadow: unset;
        }
    }
}

@keyframes selectable-card-animation {
    0% {
      box-shadow: 0 0 3px 2px white;
    }
    100% { 
      box-shadow: 0 0 5px 3px white;
    }
}

.tooltip-symbol {
    float: left;
    margin-right: 5px;
}