#legend-table {
  min-width: 640px;
  width: 100%;
  position: relative;
  margin: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;

  #legend-board {
    position: relative;
    width: 1200px;
    height: 793px;
    padding: 0;
    margin: 0;
    background-size: contain;
    background-image: url('img/mats/legend.jpg');

    .deck {
      position: absolute;
      left: 115px;
      top: 478px;
    }

    .discard {
      position: absolute;
      left: 729px;
      top: 478px;
    }
  }
}