.player-table {
  min-width: 640px;
  width: 100%;
  box-sizing: border-box;
  position: relative;
  background: #FFFFFF33;
  //box-shadow: 0 0 5px 2px var(--player-color);
  //border: 3px solid rgb(235 213 189);
  border: 2px solid var(--player-color);
  border-radius: 15px;
  margin: 5px;
  font-size: 16pt;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;

  .name-wrapper {
    color: var(--player-color);
    position: relative;
    display: flex;
    padding: 5px;
    justify-content: center;
    align-items: center;
    font-size: 20pt;
  }

  .player-board {
    position: relative;
    width: 1200px;
    height: 793px;
    padding: 0;
    margin: 0;
    background-size: contain;

    @each $playerColor in $playerColors {
      &[data-color="#{$playerColor}"] { 
        background-image: url('img/mats/player-board-#{$playerColor}.jpg');
      }
    } 

    .bga-cards_deck-counter {
      --bga-cards-deck-counter-size: 40px;
      
      &.round {
        font-size: 22px;
      }
    }

    .deck {
      position: absolute;
      left: 51px;
      top: 316px;
    }

    .engine {
      position: absolute;
      left: 407px;
      top: 316px;
    }

    .discard {
      position: absolute;
      left: 756px;
      top: 316px;
    }

    .gear {
      position: absolute;
      width: 80px;
      height: 80px;
      border-radius: 50%;
      //background-color: var(--player-color);
      //box-shadow: 2px 2px 8px 5px black;
      top: 198px;
      right: 52px;
      transition: top 0.5s;
      
      background-image: url('img/stick.png');
      background-size: auto 100%;
      box-shadow: 2px 2px 8px 5px black;

      /*&::after {
        content: '';
        position: absolute;
        left: 25px;
        right: 25px;
        top: 25px;
        bottom: 25px;
        border-radius: 50%;
        background: radial-gradient(circle at 39% 25%, #FFFFFFBB 2px, var(--player-color) 4%, #000000BB 100%);
        box-shadow: 2px 2px 8px 5px black;
      }*/

      &[data-gear="4"] { top: 274px; }
      &[data-gear="3"] { top: 401px; }
      &[data-gear="2"] { top: 529px; }
      &[data-gear="1"] { top: 657px; }

      @each $playerColor in $playerColors {
        $i: index($playerColors, $playerColor) - 1;
        &[data-color="#{$playerColor}"] { 
          background-position-x: #{$i * 100% / 5};
        }
      }
  
      &[data-color="12151a"] {
        box-shadow: 0px 0px 8px 10px white;
      }
    }
  }

  .inplay-wrapper {
    position: absolute;
    top: 0;
    left: 5%;
    right: 5%;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    max-width: 90%;

    .inplay {
      width: var(--width);
      max-width: 90%;
      position: relative;
      left: 5%;
      height: 362px;
    }

    .hand-wrapper {
      max-width: 100%;
      align-self: unset;
      padding: 0 10px 10px 10px;
    }

    &[data-visible="false"] {
      display: none;
    }
  }

  .block-label {
    text-shadow: 0 0 1px black, 0 0 2px black, 0 0 3px black, 0 0 4px black;
    text-align: center;
    //color: white;
    padding: 5px;
    text-overflow: ellipsis;
  }
  
  .block-with-text {
    display: flex;

    .block-label {
      writing-mode: vertical-lr;
      transform: rotate(180deg);
    }

    &>div:not(.block-label) {
      flex: 1;
      min-height: 221px;
    }
  }

  .hand-wrapper {
    margin: 5px;
    background: #FFFFFF88;
    border-radius: 10px;
    align-self: stretch;
    margin-bottom: 10px;
  }
}
