#table-center {
  //max-width: 1650px;
  display: flex;
  justify-content: center;
  transform-origin: top center;

  #circuit {
    position: relative;
    width: 1650px;
    height: 1100px;
    min-width: 1650px;
    min-height: 1100px;
    background-size: cover;
    transform-origin: top center;
  }
}

.car {
  position: absolute;
  left: -30.5px;
  top: -17px;
  width: 61.08px;
  height: 34px;
  background: url('img/cars.png');
  background-position-y: calc(var(--constructor-id) * 20%);
  background-size: 200% 600%;
  transform:  translateX(var(--x)) translateY(var(--y)) rotate(var(--r));
  transform-origin: center center;

  &.with-transition {
    transition: transform var(--transition-time);
  }
  &.current {
    background-position-x: 100%;
  }
}

.eliminated-podium {
  position: absolute;
  left: calc(var(--x) + 20px);
  top: calc(var(--y) - 23px);
  font-size: 32px;
}

.map-indicator {
  position: absolute;
  left: -16px;
  top: -16px;
  width: 32px;
  height: 32px;
  background: url('img/cars.png');
  border-radius: 50%;
  background: white;
  box-shadow: 0 0 5px 5px white;
  transform: translateX(var(--x)) translateY(var(--y));
  transform-origin: top left;
  color: black;
  text-align: center;
  font-size: 26px;
  font-weight: bold;
  line-height: 32px;
  user-select: none;

  &.clickable {
    cursor: pointer;

    &.hover, &:hover {
      background: yellow;
      box-shadow: 0 0 5px 5px yellow;
    }
  }

  &.stress {
    color: white;
    background: #6766a7;
    box-shadow: 0 0 5px 5px #6766a7;
  }
}

.corner {
  --color: transparent;
  position: absolute;
  left: calc(var(--x) - 24px);
  top: calc(var(--y) - 24px);
  width: 48px;
  height: 48px;
  box-shadow: 0 0 5px 5px var(--color);
  border-radius: 50%;
}

.press-icon {
  position: absolute;
  left: calc(var(--x) + 16px);
  top: calc(var(--y) + 16px);
  width: 32px;
  height: 32px;
  font-size: 32px;
  color: #116193;
  text-shadow: 0 0 1px white, 0 0 2px white, 0 0 3px white, 0 0 4px white, 0 0 5px white;
}

.press-token {
  display: inline-block;
  width: 114px;
  height: 148px;
  background: url('img/press-token.png');
  background-size: contain;
}

.weather-card {
  position: absolute;
  left: var(--x);
  top: var(--y);
  width: 167px;
  height: 127.5px;
  box-shadow: 0 0 5px 5px white;
  border-radius: 8px; 
  background-image: url('img/weather-cards.jpg'); 
  background-size: 100% auto;

  @for $type from 0 through 5 {
    &[data-card-type="#{$type}"]  {
      background-position-y: #{$type * 100% / 5};
    }
  }
}

.weather-token {
  position: absolute;
  left: calc(var(--x) - 30px);
  top: calc(var(--y) - 30px);
  width: 60px;
  height: 60px;
  box-shadow: 0 0 5px 5px white;
  border-radius: 8px; 
  background-image: url('img/weather-tokens.jpg'); 
  background-size: 100% auto;

  @for $type from 0 through 5 {
    &[data-token-type="#{$type}"]  {
      background-position-y: #{$type * 100% / 5};
    }
  }
}
