#table-center {
  //max-width: 1650px;
  display: flex;
  justify-content: center;

  #circuit {
    position: relative;
    width: 1650px;
    height: 1100px;
    background-size: cover;
    transform-origin: top center;
  }
}

.car {
  position: absolute;
  left: -30.5px;
  top: -17px;
  width: 61.08px;
  height: 34px;
  background: url('img/cars.png');
  background-position-y: calc(var(--constructor-id) * 20%);
  background-size: 200% 600%;
  transform:  translateX(var(--x)) translateY(var(--y)) rotate(var(--r));
  transform-origin: center center;

  &.with-transition {
    transition: transform var(--transition-time);
  }
  &.current {
    background-position-x: 100%;
  }
}

.map-indicator {
  position: absolute;
  left: -16px;
  top: -16px;
  width: 32px;
  height: 32px;
  background: url('img/cars.png');
  border-radius: 50%;
  background: white;
  box-shadow: 0 0 5px 5px white;
  transform: translateX(var(--x)) translateY(var(--y));
  transform-origin: top left;
  cursor: pointer;

  &.hover, &:hover {
    background: yellow;
    box-shadow: 0 0 5px 5px yellow;
  }
}

.corner {
  --color: transparent;
  position: absolute;
  left: calc(var(--x) - 24px);
  top: calc(var(--y) - 24px);
  width: 48px;
  height: 48px;
  box-shadow: 0 0 5px 5px var(--color);
  border-radius: 50%;
}

.weather-card {
  position: absolute;
  left: var(--x);
  top: var(--y);
  width: 167px;
  height: 127.5px;
  box-shadow: 0 0 5px 5px white;
  border-radius: 8px; 
  background-image: url('img/weather-cards.jpg'); 
  background-size: 100% auto;

  @for $type from 0 through 5 {
    &[data-card-type="#{$type}"]  {
      background-position-y: #{$type * 100% / 5};
    }
  }
}

.weather-token {
  position: absolute;
  left: calc(var(--x) - 30px);
  top: calc(var(--y) - 30px);
  width: 60px;
  height: 60px;
  box-shadow: 0 0 5px 5px white;
  border-radius: 8px; 
  background-image: url('img/weather-tokens.jpg'); 
  background-size: 100% auto;

  @for $type from 0 through 5 {
    &[data-token-type="#{$type}"]  {
      background-position-y: #{$type * 100% / 5};
    }
  }
}
