#championship-table {
  margin: 5px 0;

  #championship-circuits-progress,
  #championship-circuits {
    display: grid;
    grid-template-columns: 100px repeat(var(--race-count), 1fr);
    gap: 15px;
  }

  .circuit-progress {
    height: 8px;
    border-radius: 4px;

    &.finished {
      background: #d61b1a;

      .current-circuit-progress {
        display: none;
      }
    }

    .current-circuit-progress {
      background: #ed8d17;
      width: 0%;
      height: 100%;
      border-radius: 4px;
      transition: width 0.5s;
    }
  }

  #championship-circuits {
    background: white;
    border-radius: 20px;

    &[data-folded="true"] {
      .championship-circuit.current {
        .card {
          transform: scale(0.15);
          margin: 0 -150px;
        }
      }
    }

    &[data-folded="false"] {
      .championship-circuit.current {
        flex-direction: column;
        height: 270px;
        .card {
          margin: 10px 0;
        }
      }
    }
  }

  .championship-name {
    height: 40px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Aachen Bold";
    color: #91d7e8;
  }

  .championship-circuit {
    border-radius: 20px;
    height: 40px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: height 0.5s;
    position: relative;

    .circuit-name {
      font-weight: bold;
    }

    .card {
      transition:
        transform 0.5s,
        margin 0.5s;
    }

    &.current {
      background: #d61b1a;
      color: white;
      cursor: pointer;
    }

    &:not(.current) .card {
      // display: none;
      position: absolute;
      visibility: hidden;
      pointer-events: none;
    }
  }
}

#current-championship-card-text {
  background: #353e52;
  color: white;
  padding: 2px;
  border-radius: 20px;
  font-size: 9pt;
  text-align: center;
}

#scorepad-button {
  width: auto;
  margin-left: 5px;
  padding: 3px;

  .scorepad-icon {
    display: inline-block;
    width: 32px;
    height: 32px;
    background-image: url("img/scorepad.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
}

.scorepad-image {
  margin-top: 10px;
  width: 600px;
  height: 360px;
  background-image: url("img/scorepad.jpg");
  position: relative;

  table {
    position: absolute;
    top: 0;
    left: 0;

    tr {
      height: 71px;

      .names {
        height: 64px;
      }

      th {
        width: 91px;
        text-align: center;
        padding-top: 30px;
      }

      td {
        width: 85px;
        text-align: center;
        text-shadow:
          0 0 1px white,
          0 0 2px white,
          0 0 3px white;
        position: relative;

        &.score {
          font-size: 24pt;
        }

        .name {
          position: relative;
          top: -10px;
          word-break: break-word;
          max-height: 71px;
          overflow: hidden;
        }

        .subTotal {
          position: absolute;
          right: 2px;
          bottom: 2px;
          width: 25px;
          font-size: 14pt;
        }
      }
    }
  }
}
