#championship-table {

  #championship-circuits {
    background: white;
    border-radius: 20px;
    margin: 5px 0;
    display: grid;
    grid-template-columns: 100px repeat(var(--race-count), 1fr);
    

    &[data-folded="true"] {
      .championship-circuit.current {
        .card {
          transform: scale(0.15);
          margin: 0 -150px;
        }
      }
    }

    &[data-folded="false"] {
      .championship-circuit.current {
        flex-direction: column;
        height: 270px;
        .card {
          margin: 10px 0;
        }
      }
    }
  }

  .championship-name {
    height: 40px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Aachen Bold';
    color: #91d7e8;
  }

  .championship-circuit {
    border-radius: 20px;
    height: 40px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: height 0.5s;

    .circuit-name {
      font-weight: bold;
    }

    .card {
      transition: transform 0.5s, margin 0.5s;
    }

    &.current {
      background: #d61b1a;
      color: white;
      cursor: pointer;
    }

    &:not(.current) .card {
      display: none;
    }
  }
}