$playerColors: "12151a", "376bbe", "26a54e", "e52927", "979797", "face0d", "f37321", "811b8f";

@import "../node_modules/bga-help/bga-help";
@import "../node_modules/bga-zoom/bga-zoom";
@import "../node_modules/bga-jump-to/bga-jump-to";
@import "../node_modules/bga-cards/bga-cards";
@import "cards";
@import "legend-cards";
@import "event-cards";
@import "table-center";
@import "playerboards";
@import "player-table";
@import "legend-table";
@import "championship-table";
@import "help";
@import "upload-form";

@font-face {
  font-family: "Aachen Bold";
  font-style: normal;
  font-weight: normal;
  src:
    local("Aachen Bold"),
    url("img/aachen-bold-opentype.woff") format("woff");
}

@font-face {
  font-family: "roboto_slabbold";
  src: url("img/RobotoSlab-Bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Barlow";
  src: url("img/BarlowCondensed-Medium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/* make space between buttons on touch devices */
@media (hover: none) {
  #page-title .action-button.bgabutton,
  #page-title .bgabutton {
    margin-bottom: 8px;
    margin-top: 8px;
  }
}

html,
.mode_3d #game_play_area_background {
  background: url("img/rules-background.jpg");
  background-size: 100% auto;
  background-repeat: repeat;
  background-position: top;
}

.icon {
  display: inline-block;
  width: 32px;
  height: 32px;
  background-image: url("img/icons.png");
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center;
  vertical-align: middle;
  font-size: 18px;
  line-height: 24px;
  color: white;
  text-shadow:
    0 0 1px black,
    0 0 2px black,
    0 0 3px black;
  text-align: center;

  &.flag {
    background-position-x: #{0 * 100% / 23};
  }
  &.engine {
    background-position-x: #{1 * 100% / 23};
  }
  &.heat {
    background-position-x: #{2 * 100% / 23};
  }
  &.cooldown {
    background-position-x: #{3 * 100% / 23};
  }
  &.stress {
    background-position-x: #{4 * 100% / 23};
  }
  &.boost {
    background-position-x: #{5 * 100% / 23};
  }
  &.speed {
    background-position-x: #{6 * 100% / 23};
  }
  &.podium {
    background-position-x: #{7 * 100% / 23};
  }
  &.reduce-stress,
  &.reduce {
    background-position-x: #{8 * 100% / 23};
  }
  &.scrap {
    background-position-x: #{9 * 100% / 23};
  }
  &.direct {
    background-position-x: #{10 * 100% / 23};
  }
  &.adjust {
    background-position-x: #{11 * 100% / 23};
  }
  &.forced-heat {
    background-position-x: #{12 * 100% / 23};
  }
  &.refresh {
    background-position-x: #{13 * 100% / 23};
  }
  &.salvage {
    background-position-x: #{14 * 100% / 23};
  }
  &.gear {
    background-position-x: #{15 * 100% / 23};
  }
  &.mandatory {
    background-position-x: #{16 * 100% / 23};
  }
  &.slipstream {
    background-position-x: #{17 * 100% / 23};
  }
  &.one-time {
    background-position-x: #{18 * 100% / 23};
  }
  &.corner {
    background-position-x: #{19 * 100% / 23};
  }
  &.accelerate {
    background-position-x: #{20 * 100% / 23};
  }
  &.super-cool {
    background-position-x: #{21 * 100% / 23};
  }
  &.no-cooldown {
    background-position-x: #{22 * 100% / 23};
  }
  &.draft {
    background-position-x: #{23 * 100% / 23};
  }
}

#market {
  margin: 10px;
}

.action-button,
.log {
  .icon {
    width: 24px;
    height: 24px;
  }
}

.action-button {
  position: relative;
  overflow: unset;

  .no-cooldown-warning {
    position: absolute;
    background: #d61b1a;
    border-radius: 5px;
    padding: 2px;
    bottom: -8px;
    right: -8px;
  }
}

.dijitTooltipContents {
  .icon {
    width: 20px;
    height: 20px;
  }
}

#tables {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  flex-direction: column;
  padding-top: 32px;
}

.constructor-avatar {
  display: inline-block;
  width: 32px;
  height: 32px;
  vertical-align: middle;

  &.legend {
    background: url("img/legend-icons.png");
    background-size: 100% auto;
    background-position-y: calc(var(--constructor-id) * 100% / 7);
  }

  &.player {
    border-radius: 50%;
  }
}

#logs .log.notif_newUndoableStep {
  margin-top: 0;

  .roundedbox {
    background-color: #c4c2c2;
    cursor: pointer;
    // TODO!!! display: none;
    font-size: 12px;
    padding: 2px 5px;
    text-align: center;
  }

  &.selectable .roundedbox {
    display: block;
  }
}

#logs .log.notif_newUndoableStep .roundedbox:after,
#logs .log.notif_newUndoableStep .roundedbox:before {
  content: "\f0e2";
  font: normal normal normal 12px/1 FontAwesome;
  margin: 0 10px;
}

.chatwindowlogs_zone .log.notif_newUndoableStep {
  // TODO!!! display: none !important;
  margin-bottom: -4px;
  padding: 0;

  &.selectable {
    display: block !important;

    .roundedboxinner {
      background-color: #c4c2c2;
      cursor: pointer;
      font-size: 12px;
      padding: 2px 5px;
      text-align: center;
    }
  }
}

.chatwindowlogs_zone .log.notif_newUndoableStep.selectable .roundedboxinner:after,
.chatwindowlogs_zone .log.notif_newUndoableStep.selectable .roundedboxinner:before {
  content: "\f0e2";
  font: normal normal normal 12px/1 FontAwesome;
  margin: 0 10px;
}

.chatwindowlogs_zone .log.notif_newUndoableStep.selectable .roundedboxinner .msgtime {
  display: none;
}

/* Cancelled notification messages */
.log.cancel {
  color: #c62828 !important;
  text-decoration: line-through;
}

/* Desktop logs */
.log.cancel .roundedbox {
  background-color: rgba(240, 186, 117, 0.6) !important;
}

/* Mobile logs */
.log.cancel.roundedbox {
  background-color: #ef9a9a;
}

.log-card-image {
  margin: 3px;
  display: flex;
  justify-content: center;
  max-height: 54px;
  overflow: hidden;
  vertical-align: middle;

  @for $symbols from 1 through 4 {
    &[data-symbols="#{$symbols}"] {
      max-height: #{54px + ($symbols * 66px)};
    }
  }
}

#page-title {
  .log-card-set {
    display: inline-block;

    .log-card-image {
      display: inline-flex;
      max-height: 54px !important; // to forbid the title bar to grow too big during notifs

      &:not(:first-child) {
        margin-left: -168px;
      }
    }
  }
}

.press-corner-ul,
.press-corner-ul li {
  list-style: disc;
  list-style-type: disc;
  list-style-position: inside;
}

#leave-text {
  background: #e7f8fd;
  padding: 8px;
  border-radius: 8px;
  margin: 5px 0;
  text-align: center;

  button.bgabutton {
    width: auto;
    margin: 0 2px;
  }
}

.mandatory-buttons {
  border: 1px solid #ffe035;
  background: #ffe03566;
  margin-left: 5px;
  padding: 5px;
  display: inline-flex;
  flex-wrap: nowrap;
  align-items: center;
  vertical-align: middle;
}
